.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  border-bottom: 1px solid black;
}

.header li {
  padding: 6px;
}

.header li[data-active="true"] {
  box-shadow: 0 5px 0 0 black;
}
